[Unit]
Description=TCPdump
After=network-online.target

[Service]
ExecStart=/usr/local/sbin/tcpdump.sh
ExecStop=/usr/local/sbin/tcpdump.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
